<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Flask App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <p>
        What are you looking for in Cooking Issues?<br><br>
            <form action = "http://localhost:5000/search" method = "POST">
              <p>Search Phrase <input type="text" name="search_phrase"></p>
              <p><input type="submit" value="submit"/></p>
            </form>
        </p>
    <div class="show-data" >
    </div>
</body>
</html>
